
flask==3.0.3
gunicorn==22.0.0
folium==0.17.0
geopy==2.4.1
pandas==2.2.2
requests==2.32.3
reportlab   

certifi==2026.4.22
charset-normalizer==3.4.7
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.0
cycler==0.12.1
filelock==3.19.1
flatbuffers==25.12.19
fonttools==4.60.2
fsspec==2025.10.0
humanfriendly==10.0
idna==3.13
importlib_resources==6.5.2
Jinja2==3.1.6
kiwisolver==1.4.7
MarkupSafe==3.0.3
matplotlib==3.9.4
ml_dtypes==0.5.4
mpmath==1.3.0
networkx==3.2.1
numpy==2.0.2
onnx==1.19.1
onnxruntime==1.19.2
onnxslim==0.1.92
opencv-python==4.13.0.92
packaging==26.2
pillow==11.3.0
polars==1.36.1
polars-runtime-32==1.36.1
protobuf==6.33.6
psutil==7.2.2
pyparsing==3.3.2
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
PyYAML==6.0.3

scipy==1.13.1
six==1.17.0
sympy==1.14.0
torch==2.8.0
torchvision==0.23.0
typing_extensions==4.15.0
ultralytics==8.4.47
ultralytics-thop==2.0.19
urllib3==2.6.3
uv==0.9.26
zipp==3.23.1
